.container
  = render 'shared/errors', object: @user 
  
  %h3 Create a new user 
  .new-user-form.col-md-4
    = form_for @user do |f|
      .form-group 
        = f.label :username
        = f.text_field :username, class: 'form-control'
        
      .form-group 
        = f.label :password
        = f.text_field :password, class: 'form-control'
      
      = f.submit class: 'btn btn-success'