.container 
  %h1 Restaurant Details 
  .restaurant
    = image_tag @restaurant.image_url
    %ul
      %li= @restaurant.name 
      %li= @restaurant.description 
  
  %h2 Review this restaurant     
  .review-form.col-md-8
    = form_for [@restaurant, @review] do |f|
      .form-group 
        = f.label :rating
        = f.select :rating, options_for_select([["1 Star", 1], ["2 Stars", 2], ["3 Stars", 3], ["4 Stars", 4], ["5 Stars", 5]]), 
                            {}, class: 'form-control'
      .form-group 
        = f.label :content
        = f.text_area :content, class: 'form-control'
      
      = f.submit class: 'btn btn-success'
  
  %h2 Reviews
  .reviews-list 
    - @restaurant.reviews.each do |review|
      .review-item
        // = review.user 
        = review.rating 
        = review.content
          